# default configuration - won't be overriden
targetLanguages.en=EN-US
targetLanguages.pt=PT-BR
translation.openai.prompt="You are a translation engine. Return only strict JSON object key->translated text.Preserve HTML tags/entities exactly. The source language is {{sourceLanguage}} and the target language is {{targetLanguage}}"
translation.deepl.api.key=
translation.openai.api.key=
